@font-face {
    font-family: 'fontspring_demo_-_lulo_cleaRg';
    src: font_url('fontspring-demo-lulocleanfour-webfont.woff2') format('woff2'),
         font_url('fontspring-demo-lulocleanfour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}